.container_num_pages{
    width:15vh;
    height:80vh;
    background-color:#2E2E2E;
    display:flex;
    flex-direction:column;
    align-items:center;
    position:absolute;
    justify-content: center;
    position:fixed;
    margin-top:10vh;

}
.page_home, .page_projects,
.page_about_me,.page_contact{
    width:4.5vh;
    height:0.15rem;
    background-color:white;
    margin:1vh;
    margin-top:10vh;
}